	a:link, a:visited {
		text-decoration: none;
		color: #ffffff
	}
	a:hover {
		text-decoration: underline; 
		color: #00f
	}
	a:active {
		text-decoration: none;
		color: #ffffff
	}

	body {
		background-image: url("capa1.jpg");
		background-attachment: fixed;
		background-position: center center;
	}
	#texto {
	position: absolute;
	top: 300px;
	right: 450px;
	left: 50px
	}
	#logo {
		position: fixed;
		width: 700px;
		height: 400px;
		top: -100px;
		left: -50px;
	}

	#ancora {
		
		position: fixed;
				top: 170px;
				bottom: 420px;
				left: 500px;
				right: 300px;
	}
	#apoio {
		position: fixed;
			top: 60px;
			bottom: 0px;
			left: 1020px;
			right: 00px;
	}
	#apoiadores {
		border-color: #ffffff;
		border-style: solid;
		border-bottom-width: 0;
    	border-top-width: 0;
    	border-right-width: 0;
    	border-left-width: 2px;
		

		position: fixed;
			top: 0px;
			bottom: 0px;
			left: 952px;
			right: 00px;
	}
	#cinza {
		border-color: #ffffff;
		border-style: solid;
    	border-bottom-width: 3px;
    	border-top-width: 0;
    	border-right-width: 0;
    	border-left-width: 0;
		
		position: fixed;
				top: 50px;
				bottom: 420px;
				left: 0px;
				right: 412px;
	}
	h1 {
		color: #000;
	}

	h2 {
		color: #000;
		}
	p {
		color: #ffffff;
	}
	